:root {
    --primary-orange: hsl(122, 50%, 77%);
    --secundary-orange: #a4ea9b;
    --border-color: #ffffff;
    --bg-light: #ffffff;
}

body {
    background: linear-gradient(-45deg, #ffffff, #f4f4f4, #ffb74d33, #ffffff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.logo {
    color: #013a0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.section-title {
    background: #fff;
    border: 2px solid var(--border-color);
    padding: 5px 10px;
    font-style: italic;
    color: #8a8a8a;
    display: inline-block;
}


.custom-shadow {
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}


.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid var(--secundary-orange);
    padding: 2px;
}

.post-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}
.btn-goals {
    background-color: var(--secundary-orange);
    color: #000;
    border: none;

    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    /* Alinhamento e Tamanho */
  display: inline-block;
  padding: 10px 30px; /* Ajuste conforme necessário */
  font-family: Arial, sans-serif; /* Ou sua fonte */
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px; 
  background-color: #a8e6a3; 
  color: #1a3c1a; 
  transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-goals:hover {
  background-color: #a8e6a3; 
  color: #ffffff; 
}

.btn-participate, .tip-item, .btn-invite {
    background-color: var(--secundary-orange);
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.tip-item {
    margin-bottom: 10px;
}

.btn-participate:hover, .tip-item:hover, .btn-invite:hover {
    background-color: var(--primary-orange);
    color: #fff;
    transform: scale(1.05);
    filter: brightness(1.1);
}


@media (max-width: 576px) {
    .post-img {
        width: 100%;
        height: auto;
    }
}